.todo-list-item {
  display: flex;
  border-radius: 4px;
  align-items: center;
  padding: 24px;
  margin-top: 16px;
  transition: all 0.2s;
  background-color: #775ada;

  &:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }

  & > .todo-text {
    flex: 1;
    padding: 4px;
    border: none;
    font-size: 24px;
    color: white;

    &:focus {
      outline: none;
    }
  }
  & > .todo-text.is-done {
    text-decoration: line-through;
    color: rgb(191, 191, 191);
  }

  & > .edit-todo {
    flex: 1;
    font-size: 24px;
    outline: none;
    padding: 4px;
    font-family: inherit;
    border: none;
  }

  & .icon {
    margin-left: 8px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
}
